<!--<h3>{{title}}</h3>
<app-profile></app-profile>-->
<p>Hello</p>
<input type="text" placeholder="Enter your name" (input)="ontyping($event)">

Welcome to the world of Angular
<p>Hello {{name}}, My name is Arunima and I am learning Angular.!!!<br>
    Angular seems interesting</p>

<p>Click on sign up to create account with Us:<br>
    <button (click)="signUp()">Sign Up with {{title}}</button>
    <br>
    <span style="color:red"> {{status}} </span>
</p>
<app-product-list></app-product-list>
<router-outlet></router-outlet>